<h1>Edit snippet</h1>
<%= @snippet.errors.full_messages.join(",") %>
<%= bootstrap_form_for @snippet do |f| %>
  <p>Category <%= f.collection_select :category_id, Category.all, :id, :name %>
    <%= f.label(:private) %>
    <%= f.check_box(:private) %>
  </p>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :work %>
  <%= f.text_area :work %><br>
  <%= f.submit %>
<% end %>
