<h1><%= @snippet.title %></h1>

<p>Created by: <%= @snippet.user.full_name if @snippet.user%></p>

<% if can? :manage, @snippet %>
  <%= link_to "Edit", edit_snippet_path(@snippet) %>
  <%= link_to "Delete", snippet_path(@snippet), method: :delete, data: {confirm: "Are you sure you want to delete this snippet?"}  %>
<% end %>

<div class="snippet-code">
<%= CodeRay.scan(@snippet.work, snippet_language(@snippet)).div(:line_numbers => :table).html_safe %>
</div>
